<%

   0.upto @worksheet.last_row_index do |index|
     # .row(index) will return the row which is a subclass of Array
     row = @worksheet.row(index)
     %>
         <p><%= row[4] %></p>
    <%
     #@contact = Contact.new
     ##row[0] is the first cell in the current row, row[1] is the second cell, etc...
     #@contact.first_name = row[0]
     #@contact.last_name = row[1]
     #
     #@contact.save
   end
   %>