<!-- Modal -->
<div class="modal fade" id="mPhoneEdit" tabindex="-1" role="dialog" aria-labelledby="mPhoneEdit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>123</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
