
<div class="modal fade" id="edit_template_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Редактирование шаблона</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="inputNameModal" name="inputNameModal" placeholder="Название" value="<%= @form_data[:template][0].name %>"><br />
        <textarea class="form-control" rows="2" id="inputTextModal" name="inputTextModal" placeholder="Текст"><%= @form_data[:template][0].text %></textarea>
        <input type="checkbox" id="inputTransliteModal" name="inputTransliteModal"
           <% if @form_data[:template][0].translite == true %>
           checked = "checked"
           <% end %>
        > Транслит
        <br /><br />
        <div>
          <em style="color:red">###fio###</em>
          <em> - ФИО; </em><br />
          <em style="color:red"> ###dog###</em>
          <em> - договор; </em><br />
          <em style="color:red"> ###sum###</em>
          <em> - сумма; </em><br />
          <em style="color:red"> ###dlg###</em>
          <em> - долг; </em><br />
          <em style="color:red"> ###dte###</em>
          <em> - дата;</em><br />
          <em style="color:red"> ###dtx###</em>
          <em> - дата из листа</em><br />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Отмена</button>
        <button type="button" class="btn btn-primary" onclick="save_template_modal(<%= @form_data[:template][0].id %>)">Сохранить
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
